<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tango|Explore</title>
    <link rel="stylesheet" href="stylesheet/explore.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playball&family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Navbar and sidebar start -->

    <input type="checkbox" id = "check">
    <nav id= "myNav" class="navbar fixed-top">
        <ul class="navbar-nav">
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
        </ul>
        <a id="myBrand" class="navbar-brand" href="/home/<%= currentUser._id %>">Tango</a>
    </nav>
    
    <div class="sidebar">
        <center class="mr-5">
            <img src="https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="profile_image" alt="">
            <h4>Parth</h4>
            <form id="bottom" action="/explore" method="GET" class="form-inline">
                <input id ="myInput" name="fullName" class="form-control" type="search" placeholder="Search By Name" aria-label="Search">
                <button type="submit" class="btn btn-outline-primary rounded-0 mb-4">Search</button>
            </form>
        </center>
        <div class="scrollable">
            <a href="/profile/<%= currentUser._id %>"><i class="fas fa-user"></i><span>Profile</span></a>
            <a href="/explore"><i class="fas fa-search"></i><span>Explore</span></a>
            <a href="/likedProfiles/<%= currentUser._id %>"><i class="fas fa-heart"></i><span>Likes</span></a>
            <a href="/savedProfiles/<%= currentUser._id %>" ><i class="fas fa-bookmark"></i><span>Saved</span></a>
            <a href="#"><i class="fas fa-comments"></i><span>Chat</span></a>
            <a href="#"><i class="fas fa-cog"></i><span>Settings</span></a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        </div>
    </div>

    <!-- Navbar and sidebar end -->
        
            <div class="content py-5 ">
                <div class="container" style="margin-top: 70px; margin-right: 210px;"></div>
                <div class="jumbotron text-center mx-auto">                  
                    <h1 class="display-3 explore">Explore <img class="ml-2 mb-3" src="https://img.icons8.com/metro/85/000000/two-hearts.png"/></h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <button type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#exampleModal">
                        Filters
                    </button>                    
                </div> 
                <form action="/explore" method="GET">
                    <div class="container">
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <h5 class="modal-title "id="exampleModalLabel" >Filters <i class="fas fa-filter"></i></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row justify-content-around">      
                                            <div class="col-12 ">         
                                                <div class="collapse show" id="collapseExample">
                                                    <div class="accordion" id="accordionExample">
                                                        <div class="card">
                                                            <div class="card-header" id="headingOne">
                                                                <h2 class="mb-0">
                                                                    <button id = "myclass1" class="btn btn-link card-link filter myclass text-dark btn-outline-light btn-block text-center text-decoration-none" type="button" data-toggle="collapse"
                                                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                        Filter by Username<i class="fas fa-chevron-down ml-2" id = "iTag1"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                                <div class="row">
                                                                    <div class="card-body col-md-10 ml-5">
                                                                        <div class="form-group justify-content-center">
                                                                            <input id="text" type="text" name="username" placeholder="Filter by username" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="headingTwo">
                                                                <h2 class="mb-0">
                                                                    <button id="myclass2" class="btn btn-link filter myclass card-link text-dark btn-outline-light btn-block text-center collapsed text-decoration-none" type="button" data-toggle="collapse"
                                                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                        Filter by Gender<i class="fas fa-chevron-down ml-2" id = "iTag2"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                                <div class="row justify-content-center">
                                                                    <div class="card-body col-md-10 mx-auto">
                                                                        <div class="form-group justify-content-center ">
                                                                            <select name="gender" id="text" class="form-control">
                                                                                <option selected value="">Select Gender</option>
                                                                                <option value="Male">Male</option>
                                                                                <option value="Female">Female</option>
                                                                                <option value="Others">Others</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="headingThree">
                                                                <h2 class="mb-0">
                                                                    <button id = "myclass3" class=" btn btn-link filter myclass card-link text-dark btn-outline-light btn-block text-center collapsed text-decoration-none" type="button" data-toggle="collapse"
                                                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                        Filter by Sexuality<i class="fas fa-chevron-down ml-2" id = "iTag3"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                                <div class="row justify-content-center">
                                                                    <div class="card-body col-md-10 mx-auto">
                                                                        <div class="form-group justify-content-center">
                                                                            <select name="sexuality" type="text" id="text" class="form-control">
                                                                                <option selected value="">Select Your Preference</option>
                                                                                <option value="Straight">Straight</option>
                                                                                <option value="Gay">Gay</option>
                                                                                <option value="Lesbian">Lesbian</option>
                                                                                <option value="Bisexual">Bisexual</option>
                                                                            </select>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>    
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="headingFour">
                                                                <h2 class="mb-0">
                                                                    <button id = "myclass4" class=" btn btn-link filter myclass card-link text-dark btn-outline-light btn-block text-center collapsed text-decoration-none" type="button" data-toggle="collapse"
                                                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                        Filter by City<i class="fas fa-chevron-down ml-2" id = "iTag4"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                                <div class="row justify-content-center">
                                                                    <div class="card-body col-md-10 mx-auto">
                                                                        <div class="form-group justify-content-center">
                                                                            <select name="city" type="text" class="form-control" >
                                                                                <option selected disabled value="" >Select City </option>
                                                                                <% for (var i = 0; i < indianCities.length; i++) { %>
                                                                                    <option><%= indianCities[i]%></option>
                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                    </div> 
                                                                </div>
                                                            </div>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-outline-success rounded-0">Apply filters  &nbsp; <i class="fa fa-search" aria-hidden="true"></i></button>
                                            <a href="explore" class="btn btn-outline-danger rounded-0">Clear filters  &nbsp; <i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                          
                </form>
                <div class="container" id="cont">
                    <div class="row">
                        <% foundUser.forEach(function(User){ %>
                            <div class="col-12 col-md-4">
                                <a href="/profile/<%= User._id %>" style="text-decoration: none;">
                                <div class="cards">
                                    <div class="face face1">
                                        <div id="hello" class="content1">
                                            <img src="<%= User.image %>" alt="" width="300px" height="219px">
                                            <div>
                                                <p class="description_content"><%= User.firstName %> <%= User.lastName %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="face face2">
                                        <div class="row"> 
                                            <div class="col-12 col-md-12">
                                                <p style="font-size: 20px;"><%= User.age %> &nbsp;<span>&bull;</span> <%= User.username %> <span>&bull;</span> <%= User.city %></p>
                                                <p>
                                                    <% if (User.bio.length <= 150 ) { %>
                                                        <p ><%= User.bio %> </p>
                                                    <% } else { %>
                                                        <p ><%= User.bio.substring(0,250) %>...</p>
                                                    <% } %>
                                                </p>
                                            </div>
                                        </div>    
                                    </div>
                                </a>
                            </div>        
                        </div>
                    <% }) %>
                </div>
            </div>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>        
<script src="scripts/explore.js"></script>
</body>
</html>
