<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tango | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playball&family=Source+Sans+Pro&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/home.css">
    
</head>

<body>
    <!-- Navbar and sidebar start -->

    <input type="checkbox" id="check">
    <nav id="myNav" class="navbar fixed-top">
        <ul class="navbar-nav">
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
        </ul>
        <!-- <img class="mb-1 pr-0 mr-0" src="https://img.icons8.com/color/48/000000/two-hearts.png" /> -->
        <a id="myBrand" class="navbar-brand " href="#"><img class="mb-1 pr-0 mr-0" src="https://img.icons8.com/color/48/000000/two-hearts.png" />Tango</a>
    </nav>

    <div class="sidebar">
        <center class="mr-5">
            <img src="<%= currentUser.image %>"
                class="profile_image" alt="">
            <h4><%= currentUser.fullName %></h4>
        </center>
        <div class="scrollable">
            <a href="/profile/<%= currentUser._id %>"><i class="fas fa-user"></i><span>Profile</span></a>
            <a href="/explore"><i class="fas fa-search"></i><span>Explore</span></a>
            <a href="/likedProfiles/<%= currentUser._id %>"><i class="fas fa-heart"></i><span>Likes</span></a>
            <a href="/savedProfiles/<%= currentUser._id %>"><i class="fas fa-bookmark"></i><span>Saved</span></a>
            <a href="#"><i class="fas fa-comments"></i><span>Chat</span></a>
            <a href="#"><i class="fas fa-cog"></i><span>Settings</span></a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        </div>
    </div>

    <!-- Navbar and sidebar end -->

    <!-- Rest of the content goes below the div with class content -->
    
      <div class="content py-5">
        <div class="container" style="margin-top: 70px; margin-right: 600px;">
          <div class="jumbotron text-center py-5">                  
              <h1 class="display-3 home ">Home Page <img class="ml-2 mb-3" src="https://img.icons8.com/metro/85/000000/two-hearts.png"/></h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>                   
          </div>  
          <div class="display-4 home text-center mb-5">
            Your Top Matches<img class="ml-2 mb-3" src="https://img.icons8.com/plasticine/70/000000/trust.png"/>
          </div>     
          <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-ride="carousel" data-interval="10000">     
            <div class="card" style="
           background: #43C6AC; background: -webkit-linear-gradient(to right, #191654, #43C6AC);background: linear-gradient(to right, #191654, #43C6AC);min-width: 54rem;"> 
              <div class="col-12 col-lg-8 mx-auto py-5">   
                  <div class="carousel-inner"> 
                    <% for (var i = 0; i<user.length; i++) { %>
                      <% if(i==0) { %>                       
                          <div class="carousel-item active">
                            <div class="row">
                              <div class="col-lg-5 col-12 text-center mr-5 pr-5 mt-5"> 
                                <h3 class="card-title" style="color: white;"><%= user[i].fullName %> </h3> 
                                <p style="color: white"><%=user[i].age %> &bull;  <%= user[i].username %> &bull;  <%= user[i].city %></p>
                                <div>
                                  <span class="badge badge-pill badge-success">80% Match</span>
                                </div> 
                                <hr style="background-color: white;">       
                                <% if (user[i].bio.length <= 150 ) { %> 
                                <p style="color: white;"><%= user[i].bio %> </p>
                                <% } else { %>
                                <p style="color: white"><%= user[i].bio.substring(0,250) %>...</p>
                                <% } %>  
                                <a href="/profile/<%= user[i]._id %>" class="btn btn-warning rounded-0">VIEW PROFILE</a>  
                              </div>  
                              <div class="col-lg-6 col-7 ml-3 mr-0 pr-0">
                                <div class="img mt-3 mr-0 pr-0 d-flex justify-content-end"> 
                                  <img  src="<%= user[i].image %> " alt="" width="375px" height="250px" class="d-block" style="margin-left: 150px; margin-right: 0px; padding-right: 0px;  ">
                                </div>
                              </div>  
                            </div>                                 
                          </div>
                      <% } else { %>    
                          <div class="carousel-item">
                            <div class="row">
                            <div class="col-lg-5 col-12 text-center mr-5 pr-5 mt-5"> 
                              <h3 class="card-title" style="color: white;"><%= user[i].fullName %> </h3> 
                              <p style="color: white;"><%=user[i].age %> &bull;  <%= user[i].username %> &bull;  <%= user[i].city %></p> 
                              <hr style="background-color: white;">      
                              <% if (user[i].bio.length <= 150 ) { %>
                              <p style="color: white;"><%= user[i].bio %> </p>
                              <% } else { %>
                              <p style="color: white;"><%= user[i].bio.substring(0,250) %>...</p>
                              <% } %>  
                              <a href="/profile/<%= user[i]._id %>" class="btn btn-warning rounded-0">VIEW PROFILE</a>  
                            </div>  
                            <div class="col-lg-6 col-7 ml-3 mr-0 pr-0">
                              <div class="img mt-3 d-flex ml-5 pl-5 mr-0 pr-0 justify-content-end"> 
                                <img  src="<%= user[i].image %> " alt="..." width="375px" height="250px" class="d-block" style="margin-right: 0px; padding-right: 0px;">
                              </div>
                            </div>   
                            </div> 
                        </div>                                                                                                         
                      <% } %>
                    <% } %>          
                  </div> 
                  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev" style="margin-left: -200px;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next" style="margin-right: -200px;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div> 
            </div>          
          </div>       
      </div>
    </div> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="scripts/explore.js"></script>
</body>
</html>