<!doctype html>
<html lang="en"> 

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheet/viewProfile.css">
    <title>View Profile</title>
</head>

<body>
    <div class="container shadow-lg my-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="my-5 mx-5" width="300" height="300" style="border-radius: 50%;"
                    src="<%= user.image %>"
                    alt="...">
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-5 col-md-5 pl-5 mt-5">
                        <h3><%= user.firstName %> <%= user.lastName %></h3>
                    </div>
                    <div class="col-7 col-md-7 mt-5">
                        <% if (currentUser._id.equals( user._id)) { %>
                            <button type="submit" class="btn btn-danger rounded-0 mr-5"
                                style="float: right; width: 8.5rem;">Edit Profile <i
                                    class="fas fa-user-edit ml-2"></i></button>
                        <% } %>
                        <% if (!(currentUser._id.equals(user._id))) { %>
                            <button type="submit" class="btn btn-danger rounded-0 mr-5" style="float: right; width: 5.5rem;">Like <i
                                    class="fas fa-thumbs-up ml-2"></i></button>
                            <button type="submit" class="btn btn-primary rounded-0 mr-3" style="float: right; width: 5.5rem;">Save <i
                                    class="fas fa-bookmark ml-2"></i></button>
                        <% } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 pl-5 mt-2 mb-4">
                        <span class="mr-1 text-muted mb-1" style="font-size: 15px;"><%= user.age %></span>
                        <span class="text-muted" style="content: \2022; font-size: 22px;">&#8226;</span>
                        <span class="ml-1 text-muted mb-1" style="font-size: 15px;">@ <%= user.username %></span>
                        <span class="text-muted" style="content: \2022; font-size: 22px;">&#8226;</span>
                        <span class="ml-1 text-muted mb-1" style="font-size: 15px;"><%= user.sexuality %></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-11 pl-5 mb-5">
                        <p><%= user.bio %></p>
                        <div class="pt-2">
                            <ul class = "myclass">
                                <% if (user.insta_url) { %>
                                    <li>
                                        <a href="<%= user.insta_url %>" style="color: black;"><i class="fab fa-instagram"
                                                    style="font-size: 1.5rem;"></i></a>
                                    </li>
                                <% } %>
                                <% if (user.facebook_url) { %>
                                    <li>
                                        <a href="<%= user.facebook_url %>" style="color: black;"><i class="fab fa-facebook"
                                                    style="font-size: 1.5rem;"></i></a>
                                    </li>
                                <% } %>
                                <% if (user.twitter_url) { %>
                                    <li>
                                        <a href="<%= user.twitter_url %>" style="color: black;"><i class="fab fa-twitter"
                                                    style="font-size: 1.5rem;"></i></a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-12 pl-5">
                <nav>
                    <div class="nav justify-content-center nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">About</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Pictures</a>
                    </div>
                </nav>
                <!-- About Tab -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row justify-content-center my-5 mx-3">
                            <div class="col-12 col-md-6">
                                <div class="card text-white text-center bg-info mb-3" style="max-width: 22rem;">
                                    <div class="card-header">Basic Information</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                        <div class="row ">
                                            <div class="col-6">
                                                <h5 class="card-title">Age</h5>
                                                <div class="mt-2">
                                                    <span><i class="fas fa-birthday-cake"></i> <%= user.age %></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="card-title">City</h5>
                                                <div class="mt-2">
                                                    <span><i class="fas fa-map"></i> <%= user.city %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row my-4">
                                            <div class="col-6">
                                                <h5 class="card-title">Gender</h5>
                                                <div class="mt-2">
                                                    <span><i class="fas fa-male"></i> <%= user.gender %></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="card-title">Marital Status</h5>
                                                <div class="mt-2">
                                                    <span> <%= user.maritalStatus %></span>
                                                </div>
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card text-white text-center bg-success mb-3" style="max-width: 22rem;">
                                    <div class="card-header">Dating Preferences</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                        <div class="row">
                                            <div class="col-6">
                                                <h5 class="card-title">Preferred Age Group</h5>
                                                <p> <%= user.relInitialAge %> - <%= user.relFinalAge %> </p>
                                            </div>
                                            <div class="col-6">
                                                <h5 class="card-title">Live In ?</h5>
                                                <p><%= user.liveIn %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 my-3">
                                                <h5 class="card-title"><%= user.relType %></h5>
                                                <!-- <p>Short Distance Relationship</p> -->
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center my-5 mx-3">
                            <div class="col-12 col-md-6">
                                <div class="card text-white text-center bg-danger mb-3" style="max-width: 22rem;">
                                    <div class="card-header">Additional Information</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                        <div class="row ">
                                            <div class="col-12">
                                                <h5 class="card-title"><i class="fas fa-glass-martini-alt"
                                                        style="font-size: 1.1rem;"></i> Drink ?</h5>
                                                <div class="mt-2">
                                                    <span><%= user.alcohol %></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 my-4">
                                                <h5 class="card-title"><span><i class="fas fa-smoking"></i></span> Smoke ?</h5>
                                                <div class="mt-2">
                                                    <span> <%= user.smoke %></span>
                                                </div>
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card text-white text-center bg-dark mb-3" style="max-width: 22rem;">
                                    <div class="card-header">Social Media Accounts</div>
                                    <div class="card-body">
                                        <p class="card-text">
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <% if (user.insta_url) { %>
                                                    <h5 class="card-title">Instagram Handle <span class="mx-3"><a href="<%= user.insta_url %>"
                                                                style="color: white"><i class="fab fa-instagram"
                                                                    style="font-size: 1.4rem;"></i></a></span> </h5>
                                                <% } %>
                                                <% if (user.facebook_url) { %>
                                                    <h5 class="card-title">Facebook Handle <span class="mx-3"><a href="<%= user.facebook_url %>"
                                                                style="color: white"><i class="fab fa-facebook"
                                                                    style="font-size: 1.4rem;"></i></a></span> </h5>
                                                <% } %>
                                                <% if (user.twitter_url) { %>
                                                    <h5 class="card-title">Twitter Handle <span class="mx-3"><a href="<%= user.twitter_url %>"
                                                                style="color: white"><i class="fab fa-twitter"
                                                                    style="font-size: 1.4rem;"></i></a></span> </h5>
                                                <% } else { %>
                                                    <h5 class="card-title">No Links Provided</h5>
                                                <% } %>
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Profile Tab -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row w-75 mx-auto d-flex justify-content-center ">
                            <% if (user.images.length==0) {%>
                            <h2 class="my-5">No Pictures Uploaded.</h2>
                            <% } %>
                            <% user.images.forEach(function (img) { %>
                            <div class="col-12 col-md-6">
                                <div class="card shadow-lg bg-white rounded mt-5">
                                    <img class="card-img mb-0" style="width:100%; height: 100%; object-fit: cover;" src="<%= img.url %>">
                                </div>
                            </div>
                            <% }); %>
                        </div>
                        <% if (currentUser._id.equals(user._id)) { %>
                            <div class="row mx-5 my-5 text-center">
                                <div class="col-12 col-md-12 my-3">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger rounded-0" data-toggle="modal"
                                    data-target="#exampleModal" style="width: 9.5rem;">
                                    Edit Pictures <i class="fas fa-edit ml-2"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Edit Pictures</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                                Images here
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary rounded-0">Save
                                                    Changes</button>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>